# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\PUCP.pe\10MO CICLO\SOFTWARE PARA TELECOMUNICACIONES 1\PROYECTO\Grupo_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
